.idea
.DS_Store
.mes
.mbs
.vmes
game
src/*.asset
src/*.o
src/*.elf
src/*.bin
src/*.asset
assets/*.m3if
compile_commands.json
assets/icon.m3ifp
assets/icon_cropped.png
assets/icon_full.m3ifp
.cache
*.bin
*.iso
